:root {
    --clr-prmr-1: hsl(0, 0%, 0%);
    --clr-prmr-3: hsl(0, 0%, 8%);
    --clr-prmr-5: hsl(0, 0%, 50%);
    --clr-prmr-7: hsl(0, 0%, 75%);
    --clr-prmr-9: hsl(0, 0%, 90%);

    --clr-scndr-1: hsl(200, 90%, 30%);
    --clr-scndr-3: hsl(200, 95%, 45%);
    --clr-scndr-5: hsl(200, 100%, 60%);
    --clr-scndr-7: hsl(200, 95%, 75%);
    --clr-scndr-9: hsl(200, 90%, 90%);
}