:root {
    --clr-prmr-1: hsl(0, 0%, 99%);
    --clr-prmr-3: hsl(0, 0%, 94%);
    --clr-prmr-5: hsl(0, 0%, 50%);
    --clr-prmr-7: hsl(0, 0%, 32%);
    --clr-prmr-9: hsl(0, 0%, 18%);

    --clr-scndr-1: hsl(200, 70%, 18%);
    --clr-scndr-3: hsl(200, 75%, 33%);
    --clr-scndr-5: hsl(200, 70%, 48%);
    --clr-scndr-7: hsl(200, 75%, 63%);
    --clr-scndr-9: hsl(200, 70%, 78%);

    --gttr-1: .25rem;
    --gttr-3: .5rem;
    --gttr-5: 1rem;
    --gttr-7: 2rem;
    --gttr-9: 8rem;

    --fnt-sz-1: .75rem;
    --fnt-sz-3: .875rem;
    --fnt-sz-5: 1rem;
    --fnt-sz-7: 1.5rem;
    --fnt-sz-9: 2rem;

    --line-height-title: 1.1;
    --line-height-text: 1.45;
    --letter-spacing-lower: .025em;
    --letter-spacing-upper: .05em;

    --cubic-bezier-title: cubic-bezier(.64, .32, .36, .98);
    --cubic-bezier: cubic-bezier(.42, 0, .58, 1);
    --transition: 200ms var(--cubic-bezier);
    --duration-h1: 1500ms}

@media (prefers-reduced-motion) {
    * {
        animation: none !important;
        transition: none !important}
}
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased}
    *::selection {
        background: var(--clr-prmr-9);
        color: var(--clr-prmr-1)}
h1, h2, h3, h4, h5, p {
    margin: 0}
ul {
    margin: 0;
    padding: 0}
a {
    text-decoration: none;
    letter-spacing: var(--letter-spacing-lower);
    color: var(--clr-scndr-5);
    transition: color var(--transition)}
    a:hover, a:focus {
        color: var(--clr-scndr-7)}
    a:active {
        color: var(--clr-scndr-9)}
        
html {
    font: normal 100%/var(--line-height-text) -apple-system, Arial, sans-serif}
body {
    inline-size: 64ch;
    max-inline-size: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-block-start: calc(env(safe-area-inset-top) + var(--gttr-7));
    padding-block-end: calc(env(safe-area-inset-bottom) + var(--gttr-9));
    padding-inline-start: calc(env(safe-area-inset-right) + var(--gttr-5));
    padding-inline-end: calc(env(safe-area-inset-left) + var(--gttr-5));
    background: var(--clr-prmr-1)}

.list {
    list-style: none}
.list__item:not(:first-child) {
    margin-block-start: var(--gttr-3)}
.list__content {
    font-size: var(--fnt-sz-5)}
.header {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-lower)}
    .header__title {
        font-size: var(--fnt-sz-9);
        font-weight: 700;
        color: var(--clr-prmr-9);
        will-change: filter, opacity, transform}
        @keyframes ttl-appear {
            0% {
                opacity: 0;
                transform: translate3d(0, 2em, 0)}
            50% {
                opacity: 1}
            100% {
                transform: translate3d(0, 0, 0)}}
        .header__title--hll {
            position: absolute;
            inset-block-start: var(--line-height-title);
            opacity: 0;
            animation: hll-appear var(--duration-h1) var(--cubic-bezier-title) 1000ms backwards}
            @keyframes hll-appear {
                0% {
                    opacity: 1;
                    transform: translate3d(0, 0, 0)}
                25% {
                    opacity: 1}
                50% {
                    opacity: 0}
                100% {
                    transform: translate3d(0, -1.5em, 0)}}
        .header__title--nm {
            animation: ttl-appear var(--duration-h1) var(--cubic-bezier-title) 800ms backwards}
    .header__subtitle {
        margin-block-start: var(--gttr-1);
        font-size: var(--fnt-sz-7);
        font-weight: 400;
        color: var(--clr-prmr-7)}
        .header__wrd {
            display: inline-block;
            will-change: filter, opacity, transform;
            animation: appear 1250ms var(--cubic-bezier) backwards calc(var(--duration-wrd) * var(--duration-h1))}
            .header__wrd--dv {
                --duration-wrd: 1.5}
            .header__wrd--wb {
                --duration-wrd: 1.7}
            .header__wrd--fll {
                --duration-wrd: 1.9}
            .header__wrd--stck {
                --duration-wrd: 2.1}
            .header__wrd--u {
                --duration-wrd: 2.5}
            .header__wrd--dsgn {
                --duration-wrd: 2.7}
            @keyframes appear {
                0% {
                    opacity: 0;
                    transform: scale(.99)}
                90% {
                    transform: scale(1)}
                100% {
                    opacity: 1}}
.section {
    margin-block-start: var(--gttr-9)}
    .section__title {
        font-size: var(--fnt-sz-1);
        font-weight: 600;
        letter-spacing: var(--letter-spacing-upper);
        text-transform: uppercase;
        color: var(--clr-prmr-5)}
    .section__content {
        margin-block-start: var(--gttr-5);
        color: var(--clr-prmr-9)}
.experience:not(:last-child) {
    margin-block-end: var(--gttr-7)}
    .experience__title {
        color: var(--clr-prmr-9);
        font-weight: 600;
        font-size: var(--fnt-sz-5)}
    .experience__subtitle {
        color: var(--clr-prmr-5);
        font-weight: 400;
        font-size: var(--fnt-sz-1);
        letter-spacing: var(--letter-spacing-lower)}
    .experience__content {
        margin-block-start: var(--gttr-3);
        list-style: none;
        color: var(--clr-prmr-7);
        font-size: var(--fnt-sz-3)}
